.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.table-container {
    justify-content: center;
    align-items: center;
    margin: 3% auto 0 auto;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.mat-mdc-paginator {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

::ng-deep .mat-mdc-paginator-container {
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
}

@media (max-width: 600px) {
    .mat-mdc-paginator {
        width: calc(100% - 20px);
        padding: 0 10px;
    }
}

::ng-deep html, body {
    background-color: rgb(228, 228, 228);
}

.demo-table {
    width: 100%;
}

::ng-deep .mat-elevation-z8 {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

table {
    overflow: hidden;
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-header-row {
    background-color: rgb(185, 185, 185);
}

.mat-mdc-cell {
    width: 10%;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.mat-mdc-extended-fab {
    background-color: rgb(230, 228, 228);
}

h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5% 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mat-mdc-extended-fab {
    background-color: rgb(230, 228, 228);
}
